@import "tailwindcss";

body {
  font-family: "OpenSansVar", sans-serif;
  font-weight: 350; 
  font-size: medium;
  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}    
html {
  scroll-behavior: smooth;
}
/* in globals.css */
/* Hides the Turbopack dev overlay icon */
#__next-build-watcher {
  display: none !important;
}

@font-face {
  font-family: 'OpenSansVar';
  src: url('/fonts/OpenSans-VariableFont.woff2') format('woff2');
  font-weight: 200 900;   /* variable range */
  font-stretch: 75% 125%; /* adjust if needed */
  font-style: normal;
  font-display: swap;
}
